REDIS_URL=redis://redis:6379
DATA_PATH=/opt/app/data
URL_CHARS = 6
ENV=DEV
region = us-east-1
output = json
CACHE_TYPE=RedisCache
CACHE_DEFAULT_TIMEOUT=500
AWS_ACCESS_KEY_ID = <YOUR_KEY_HERE>
AWS_SECRET_ACCESS_KEY = <YOUR_SECRET_HERE>